/* Hide the URL tooltip in the bottom left corner */
#statuspanel[type="status"] {
  display: none !important;
  opacity: 0 !important;
  max-height: 0px !important;
}

#statuspanel {
  display: none !important;
}

/* Remove new tab background color after 1.8b */
.browserStack browser {
  background-color: transparent !important;
}

.titlebar-min {
  display: none !important;
}

.titlebar-max {
  display: none !important;
}

.titlebar-restore {
  display: none !important;
}

.titlebar-close {
  display: none !important;
}
